/**********************************
Responsive navbar-brand image CSS
- Remove navbar-brand padding for firefox bug workaround
- add 100% height and width auto ... similar to how bootstrap img-responsive class works
***********************************/

.navbar-brand>img {
  height: 100%;
  padding: 0px 15px;
  width: auto;
}


.navbar {
      margin-bottom: 0;
      background-color: #2e9f13;
      z-index: 9999;
      border: 0;
      font-size: 15px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;

      padding-top:20px !important; 
    
    
  }
  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
       padding-top:0px !important; 


  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #2e9f13 !important;
      background-color: #fff !important;
      position:relative;
      
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }
  .navbar-brand>img {
  height: 125%;
  padding: 0px 15px;
  width: auto;
}
